.fcah1 {
    text-align: center;
    font-family: monospace;
    color: #33ff51;
}

.aboutmebox {
    float: left;
    width: 48%;
    max-width: 700px;
    margin: 0 2% 20px 0;
    padding: 12px 20px;
    text-align: left;
    font-family: monospace;
    color: #33ffaa;
    background: black;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 15px;
    box-sizing: border-box;
    word-wrap: break-word;
    hyphens: auto;
}

.skillsbox {
    display: block;
    width: 48%;
    max-width: 700px;
    margin: 0 auto 20px;
    padding: 12px 20px;
    text-align: center;
    font-family: monospace;
    color: #33ffaa;
    background: black;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 15px;
    box-sizing: border-box;
    word-wrap: break-word;
    hyphens: auto;
}
