.fcah1 {
    text-align: center;
    font-family: monospace;
    color: #33ff51;
}

.aboutmebox {
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-size-adjust: 70px;
}

.skillsbox {
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-size-adjust: 70px;
}

.mypersonalbox {
    float: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-size-adjust: 70px;
}
