.fcah1 {
    text-align: center;
    font-family: monospace;
    color: #33ff51;
}

.marginbox {
    box-sizing: border-box;
    width: calc(100% - 80px);
    max-width: 1000px;
    margin: 40px auto;
    padding: 40px;
    background: white;
    color: #ffffff;
    border-radius: 20px;
    border: 2px solid white;
    position: relative;
    z-index: 1;
    overflow: auto;
    min-height: 60vh;
    font-family: monospace;
}

.aboutmebox {
    float: left;
    width: 48%;
    max-width: 700px;
    margin: 0 2% 20px 0;
    padding: 12px 20px;
    text-align: left;
    font-family: monospace;
    color: #33ffaa;
    background: white;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 15px;
    box-sizing: border-box;
    word-wrap: break-word;
    hyphens: auto;
}

.skillsbox {
    display: block;
    width: 48%;
    max-width: 700px;
    margin: 0 auto 20px;
    padding: 12px 20px;
    text-align: center;
    font-family: monospace;
    color: #33ffaa;
    background: white;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 15px;
    box-sizing: border-box;
    word-wrap: break-word;
    hyphens: auto;
}
