.fcah1 {
    text-align: center;
    font-family: monospace;
    color: #33ff51;
}

.marginbox {
    padding: 50px;
    color: white;
    border: 5px solid white;
    border-radius: 50px;
}

.aboutmebox {
    padding: 50px;
    text-align: center;
    font-family: monospace;
    color: #33ffaa;
    float: left;
}