.pagecontent {
    position: fixed;
    inset: 0;
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: -1;
    border: 2px solid black;
    border-radius: 20px;
    background: black;
}

.fcah1 {
    text-align: center;
    font-family: monospace;
    color: #33ff51;
}

.marginbox {
    padding: 50px;
    color: white;
    border: 5px solid white;
    border-radius: 50px;
    position: relative;
    box-sizing: border-box;
}

.aboutmebox {
    max-width: 700px;
    margin: 0 auto;              
    padding: 30px;               
    text-align: center;
    font-family: monospace;
    color: #33ffaa;
    background: #00FF97;  
    border: 2px solid white;
    border-radius: 20px;
    font-size: 15px;
    box-sizing: border-box;
    float: left;         
}