.fcah1 {
    text-align: center;
    font-family: monospace;
    color: #33ff51;
}

.box {
    box-sizing: border-box;
    padding: 12px;
    margin: 0 0 20px;
    background: #000;
    color: #33ffaa;
    font-family: monospace;
    font-size: 15px;
    border-radius: 12px;
    border: 1px solid #111;
}

.aboutmebox,
.skillsbox,
.mypersonalbox {
    width: 48%;
    max-width: 700px;
}

.aboutmebox { 
    float: left;
    margin-right: 2%;
    text-align: left;
 }

.skillsbox { 
    margin: 0 auto; 
    text-align: center; 
    display: block; 
}

.mypersonalbox { 
    float: right; 
    margin-left: 2%; 
    text-align: center; 
    border-color: #fff; 
}
