.fcah1 {
    text-align: center;
    font-family: monospace;
    color: #33ff51;
}

.aboutmebox {
    float: left;
    font-family: monospace;
    text-align: left;
}

.skillsbox {
    float: right;
    font-family: monospace;
    text-align: right;
}

.mypersonalbox {
    float: center;
    font-family: monospace;
    text-align: center;
}
