.fcah1 {
    text-align: center;
    font-family: monospace;
    color: #33ff51;
}

.aboutmebox {
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.skillsbox {
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.mypersonalbox {
    float: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.soccerbutt {
    background-color: #33ff51;
    border-radius: 25px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
    float: center;
}
