.fcah1 {
    text-align: center;
    font-family: fantasy;
    color: #33ff51;
}

.marginbox {
    size: 300px;
    color: white;
    border: white solid 5px;
    border-radius: 50px;
}

.aboutmebox {
    size: 50px;
    text-align: center;
    font-family: fantasy;
    color: #33ffaa;
    float: left;
}