.pagecontent {
    position: fixed;
    inset: 0;
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: -1;
    border: 2px solid black;
    border-radius: 20px;
    background: black;
}

.fcah1 {
    text-align: center;
    font-family: monospace;
    color: #33ff51;
}

.marginbox {
    box-sizing: border-box;
    width: calc(100% - 80px);
    max-width: 1000px;
    margin: 40px auto;
    padding: 40px;
    background: white;
    color: #ffffff;
    border-radius: 20px;
    border: 2px solid white;
    position: relative;
    z-index: 1;
    overflow: auto;
    min-height: 60vh;
    font-family: monospace;
}

.aboutmebox {
    max-width: 700px;
    margin: 0 auto;              
    padding: 30px;               
    text-align: center;
    font-family: monospace;
    color: #33ffaa;
    background: white;  
    border: 2px solid white;
    border-radius: 20px;
    font-size: 15px;
    box-sizing: border-box;
    float: left;         
}