.fcah1 {
    text-align: center;
    font-family: monospace;
    color: #33ff51;
}

.marginbox {
    padding: 50px;
    color: white;
    border: 5px solid white;
    border-radius: 50px;
    position: relative;
    box-sizing: border-box;
}

.aboutmebox {
    max-width: 700px;
    margin: 0 auto;              
    padding: 30px;               
    text-align: center;
    font-family: monospace;
    color: #33ffaa;
    background: #00FF97;  
    border: 2px solid #00FF97;
    border-radius: 20px;
    font-size: 15px;
    box-sizing: border-box;
    float: none;         
}